.mg-5 {
	margin: 0.5em 0 0.5em 0;
}

.mg-20 {
	margin: 2em 0 2em 0;
}

.d-none{
	display: none!important;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.preloader{
	background-color: #fff;
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9998;
}

.se-pre-con {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
	background: #fff;
	transform:rotate(360);
}